body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    min-width: 200px;
 }
 
 .container{ 
     max-width: 1920px;
 }
 
 .header{
     display: flex;
     justify-content: center;
     background-color: rgb(0, 0, 0);
     padding: 50px;
     width: 1820px;
 }
 
 .header-text {
     margin-right: 400px;
 }
 
 .header-text a{
     margin-left: 100px;
     font-size: 24px;
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;
     text-decoration: none;
     color: rgb(241, 241, 241);
 
 }
 
 .header-text a:hover{
     color: rgb(170, 0, 255);
 }
 
 .header-logo{
     position: absolute;
     left: 207px;
 }
 
 .logo{  
     width: 200px;
 }
 
 /* SEARCH*/
 
 .poisk{
     display: flex;
     justify-content: center;
 
 }
 
 .lupa{
    
 }
 
 .header-bottom{
     background-color: rgb(36, 36, 36);
     padding-top: 10px;
     width: 1920px;
 }
 
 .search{
     margin-bottom: 10px;
     padding: 14px 400px 14px 10px;
     border-color: rgba(0, 0, 0, 0);
     border: none;
     outline: none;
 }
 
 .lupa{
     position: absolute;
     margin-top: 15px;
     margin-left: 274px;
     height: 20px;
     cursor: pointer;
 }
 
 /* Catalog */
 
 #catalog{
     position: absolute;
     background-color: rgb(255, 255, 255);
     width: 210px;
     height: 63px;
     padding-left: 30px;
     margin-left: 190px;
     margin-top: -63px;
 }
 
 #xernya{
     font-size: 0px;
 
 }
 
 #xernya.active{
     position: absolute;
     color: #fd0000;
     transition: 300ms;
     font-size: 18px;
     top: 196px;
     left: 430px;
     background-color: rgba(221, 221, 221, 1);
     width: 590px;
     height: 370px;
     z-index: 1;
 }
 
 .catalog{
     position: absolute;
     font-size: 24px;
     font-family: cursive;
     bottom: 16px;
     right: 25px;
 }
 
 .img-catalog{
     position: absolute;
     left: 195px;
     top: 155px;
 }
 
 .triagle{
     height: 20px;
 }
 
 /* podCatalog */
 
 #podcatalog{
     background-color: rgb(255, 255, 255);
     width: 240px;
     height: 400px;
     margin-left: 190px;
 }
 
 #pudcatalog{
     background-color: rgb(255, 255, 255);
     width: 240px;
     height: 400px;
     margin-left: 190px;
     font-size: 0px;
     z-index: 2;
 }
 
 #pudcatalog.active{
     font-size: 16px;
 }
 
 #pudcatalog{
     margin-left: 190px;
     text-indent: 36px;
     line-height: 40px;
 }
 
 #pudcatalog a{
     color: rgb(0, 0, 0);
     text-decoration: none;
     z-index: 100;
 }
 
 #pudcatalog .onediv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .twodiv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .threediv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .fourdiv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .fivediv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .sixdiv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .sevendiv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .eightdiv:hover{
     color: #bb00ff;
 }
 
 #pudcatalog .ninediv:hover{
     color: #bb00ff;
 }
 
 #podcatalog{
     margin-left: 190px;
     text-indent: 36px;
     line-height: 40px;
 }
 
 #podcatalog a{
     color: rgb(0, 0, 0);
     text-decoration: none;
 }
 
 #podcatalog .onediv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .twodiv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .threediv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .fourdiv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .fivediv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .sixdiv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .sevendiv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .eightdiv:hover{
     color: #bb00ff;
 }
 
 #podcatalog .ninediv:hover{
     color: #bb00ff;
 }

.main{

}

 
/* Iphone */

.imageiphone{
    position: absolute;
    top: 220px;
    left: 152px;
    height: 700px;
}

.Iphoneimage{
    background-color: rgb(238, 238, 238);
    height: 600px;
    width: 600px;
    margin-left: 192px;
    margin-top: -325px;
    z-index: 1;
}

.card{
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    width: 600px;
    height: 150px;
    margin-left: 650px;
}

.cardTwo{
    margin-top: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5%;
    width: 600px;
    height: 150px;
    margin-left: 650px;
}

.price{
    position: absolute;
    margin-left: 680px;
    margin-top: -85px;
    font-size: 28px;
}

.textiphone{
    line-height: 100px;
    margin-left: 20px;
    margin-top: -250px;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}


.buy{
    position: absolute;
    margin-left: 180px;
    margin-top: 50px;
    background-color: rgb(0, 202, 0);
    border-radius: 10px;
    width: 160px;
    height: 60px;
}

.buy:hover{
    background-color: #fd0000;
    transition: 1000ms;
}

.buyText{
    position: absolute;
    top: 15px;
    right: 45px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


.cart{
    position: absolute;
    height: 35px;
    left: 10px;
    top: 10px;
}


.cardThree .card{
    margin-top: 10px;
    font-size: 18px;

}

.text{
    position: absolute;
    margin-left: 30px;
    margin-top:30px;
}

.black{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #000000;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 30px;
}

.white{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 75px;
}

.blue{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #007bff;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 120px;
}

.yellow{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #ffd900;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 165px;
}

.green{
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #33ff00;
    border-radius: 50%;
    margin-top: 65px;
    margin-left: 210px;
}

.white:hover{
    border: solid orange 3px;
}

.black:hover{
    border: solid orange 3px;
}

.blue:hover{
    border: solid orange 3px;
}

.yellow:hover{
    border: solid orange 3px;
}

.green:hover{
    border: solid orange 3px;
}

.oneTB{
    position: absolute;
    margin-top: 75px;
    margin-left: 280px;
    background-color: rgb(255, 255, 255);
    width: 35px;
    height: 20px;
}

.oneTB:hover{
    border: solid rgb(255, 140, 0) 2px;
    border-width: 2px;
}

.twoGB{
    position: absolute;
    margin-top: 75px;
    margin-left: 330px;
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 20px;
}

.twoGB:hover{
    border: solid rgb(255, 140, 0) 2px;
    border-width: 2px;
}

.threeGB{
    position: absolute;
    margin-top: 75px;
    margin-left: 400px;
    background-color: rgb(255, 255, 255);
    width: 55px;
    height: 20px;
}

.threeGB:hover{
    border: solid rgb(255, 140, 0) 2px;
    border-width: 2px;
}